@media (max-width:944px) {
  .rccs__card--unknown > div {
    background-image: url(../form.jpg);
    border-radius: 20px;
    -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
  }
  
  .rccs__card--unknown > div:hover {
    transition: mask-position 2s ease,-webkit-mask-position 2s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
    animation-iteration-count: 3;
  }
  
  .rccs__card--back  {
    background-image: url(../form.jpg);
  }
  
  .rccs__stripe  {
    background-color: rgba(255, 217, 0, 0.732);
    background-image: url(../gold.png);
    background-position-x: 300px; 
  }
  
  .rccs {
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    margin: 20px;
    background-image: url(../forn.png);
  }

  .Sorted-card {
    display: flex
  ;
  flex-direction: column;
  
  }
  


}